.main{
position: absolute;
top: 50%;
left: 50%;
transform:translateX(-50%)translateY(-50%);
}

.body{
margin 0;
padding 0;
}

.bg{
background: linear-gradient(to right,darkred,Gold,darkblue);
height: 100%;
}

.button{
width:50;
height: 50;
font-size: 25;
margin: 2;
cursor: pointer;
background:black;
border: bold;
color: white;
}

.textview{
width: 217;
margin: 5;
font-size: 25;
padding: 5;
}